<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BoardSuite">
	
	<listeners>
		<listener class-name="Utilities.ExtentReportManager"></listener>
	</listeners>
	
  <test thread-count="5" name="BoardTest">
	  <groups>
    	<run>
      		<!--<include name="Negative testcases"/>-->
      		<include name="Sample testcases"></include>
    	</run>
  	  </groups>
    
      <classes>
		<class name="Test.BoardTest"/>
<!--      	<class name="Test.LabelTest"/>-->
      </classes>
      
  </test> <!-- BoardTest -->
</suite> <!-- BoardSuite -->
